$text = #ff841f

$BlanchedAlmond = #FFEBCD
$LightCyan = #E0FFFF
$lavanda = #E6E6FA

$radius = 5px
$borderLight = #cccccc
$borderDark = #444444


$mobile = 800px  
$colorBox = #dcdde1
$colorBoard = #2f3640
$colorButton = #292e33
$colorScrenn = #e3eef9
$colorDelete = #ff841f
$colorWhite = #eeeeee
$colorConfirm = #7daa44

$fontLight = #eeeeee
$fontDark = #333333


